<h1>Hello <%= @user.first_name %></h1>
<p>Find me in app/views/dashboard/index.html.erb</p>

<h3><%= link_to "My Bookings", bookings_path %></h3>

<%= link_to "Add new camera", new_camera_path(@camera), class: 'btn btn-primary'%>
