<h1>Camera Cartel</h1>

<% @categories.each do |category| %>
<%= link_to category, category_path(category) %>
<% end %>
<br>
<ul>
  <% @cameras.each do |camera| %>
    <li>
      <%= link_to camera.name, camera_path(camera) %> <br>
    </li>
  <% end %>
</ul>
