<h1>All cameras</h1>

<% @categories.each do |category| %>
<%= link_to category, categories_path(category) %>
<% end %>

  <ul>
  <% @cameras.each do |camera| %>
    <li>
      <%= link_to camera.name, camera_path(camera) %> <br>
    </li>
  <% end %>
</ul>

<%= link_to "Add a camera", new_camera_path(@camera), class: 'btn btn-primary' %>
