// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";

.camera-index-flex {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0;
  flex-wrap: nowrap;
}

.cat-list {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: white;
}

.cat-btn {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  background-color: #C7C8CC;
  cursor: pointer;
  border: 3px solid;
  border-radius: 10px;
  padding: 10px 50px;
  margin-right: 50px;
  box-shadow: -1px 1px 0px 0px, -2px 2px 0px 0px, -3px 3px 0px 0px, -4px 4px 0px 0px, -5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.cat-btn-small {
  font-family: "Open Sans", sans-serif;
  font-size: 8px;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  background-color: white;
  cursor: pointer;
  border: 3px solid;
  border-radius: 10px;
  padding: 10px 50px 10px 50px;
  margin-right: 50px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.cat-btn-category {
  font-family: "Open Sans", sans-serif;
  font-size: 8px;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  background-color: white;
  cursor: pointer;
  border: 3px solid;
  border-radius: 10px;
  padding: 10px 50px 10px 50px;
  margin-right: 50px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.cat-btn:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  right: 5px;
}

@media (min-width: 768px) {
  .cat-btn {
    padding: 10px 50px;
  }
}

.cameras-container {
  overflow:auto;
  height: 100%;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 10px;
}

.cameras-cards {
  display: flex;
  align-content: center;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

.cameras-img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.cameras-name,
.cameras-price {
  font-size: 16px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

.cameras-price {
  margin-left: auto;
}

.cameras-info {
  display: flex;
  align-items: flex-end;
}

.cameras-box li {
  list-style: none;
  width: 250px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
}

.cameras-box li:hover {
  transform: translateY(-5px);
}

.footer {
  background-color: #333333c0;
  color: #fff;
  position: fixed;
  left: 0;
  bottom: 20px;
  width: 100%;
  z-index: 9999;
  padding: 20px;
  text-align: center;
}

.footer a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

.footer a:hover {
  color: #ccc;
}

.my-cameras-container {
  overflow: hidden;
  height: 25%;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bookings-container {
  width: 50%;
  height: 100%;
  float: left;
  padding-top: 50px;
  background-color: white;
}

.my-cameras-container h1 {
  margin-top: 20px;
}

.btn-centered {
  margin-top: auto;
}

.list-type-column {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.list-type-row {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.btn-centered {
  display: flex;
}

.list-type-column h1 {
  justify-self: center;
}

.container.text-center {
  margin-top: 5px;
  background-color: white;
}

.container.text-center h1 {
  margin-bottom: 20px;
}

.body-dash {
  background-color: white;
}

.content-container {
  background-color: white;
}

.cat-btn-small {
  padding: 5px 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.cat-btn-delete:hover {
  color: rgba(133, 0, 0, 0.822);
  transition: 0.5s;
}

.cat-btn-cut:hover {
  color: rgba(0, 133, 0, 0.822);
  transition: 0.5s;
}

.cat-btn-cut {
  margin-bottom: 15px;
  background-color: white;
}

.cameras-container img {
  width: 100%;
}
