.navbar-lewagon {
  background: white;
  border-radius: 11px;
  box-shadow: 0px 8px 10px -7px rgba(0,0,0,0.50);
  margin-top: 50px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand img {
  margin-right: auto;
  margin-left: 50px;
  width: 400px;
}

.logo-box {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.search-border {
  border-radius: 11px;
}

.nav-link {
  font-size: x-large;
  text-shadow: -1px 1px 3px rgba(0,0,0,0.56);
  font-weight: 500;
}

.container-fluid {
  display: flex;
  align-items: center;
}

.form-control {
  max-width: 800px;
}

.user-login {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  border-radius: 10px;
  padding: 10px 50px 10px 50px;
  margin-right: 50px;
  box-shadow: -1px 1px 0px 0px, -2px 2px 0px 0px, -3px 3px 0px 0px, -4px 4px 0px 0px, -5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.user-login:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  right: 5px;
}

@media (min-width: 768px) {
  .user-login {
    padding: 10px 50px 10px 50px;
  }
}

.search-btn {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  background-color: white;
  cursor: pointer;
  border: 3px solid;
  border-radius: 10px;
  padding: 5px 25px 5px 25px;
  margin-right: 50px;
  margin-bottom: 10px;
  box-shadow: -1px 1px 0px 0px, -2px 2px 0px 0px, -3px 3px 0px 0px, -4px 4px 0px 0px, -5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.search-btn:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  right: 5px;
}

@media (min-width: 768px) {
  .search-btn {
    padding: 5px 25px 5px 25px;
  }
}
