<h1> <%= @category %></h1>

<ul>
<% @cameras.each do |camera| %>
<li>
<%= link_to camera.name, camera_path(camera) %>
</li>
<% end %>
</ul>



<%= link_to "Go back to homepage", root_path, class: 'btn btn-primary' %>
